<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9">
    </div>
    <div class="col-sm-3">
      <%= search_field(:task, :name) %>
    </div>
  </div>
   
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Subtask</th>
      <th>Parent Id</th>
      <th>Recurring</th>
    </tr>
   
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.id %></td>
        <td><%= task.name %></td>
        <td><%= task.subtask %></td>
        <td><%= task.parent_id %></td>
        <td><%= task.recurring %></td>
      </tr>
    <% end %>
  </table>
</div>