<%= form_for :task, url: tasks_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :subtask %>
    <%= f.check_box :subtask %>
  </p>

  <p>
    <%= f.label :recurring %>
    <%= f.check_box :recurring %>
  </p>

  <p>
    <%= f.label :due_date %><br>
    <%= f.datetime_local_field :due_date %>
  </p>

  <p>
    <%= f.label :forever %>
    <%= f.check_box :forever %>
  </p>

  <p>
    <%= f.label :end_date %><br>
    <%= f.datetime_local_field :end_date %>
  </p>

  <p>
    <%= f.select(:parent_id) do %>
      <%= content_tag(:option, "No Parent", value: nil) %>
      <% Task.all.each do |c| %>
        <%= content_tag(:option, c.name, value: c.id) %>
      <% end %>
    <% end %>
  </p>

  <p>
    <%= f.label :fun %>
    <%= f.check_box :fun %>
  </p>

  <p>
    <%= f.label :personal %>
    <%= f.check_box :personal %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>